.nav-btn {
  all: unset;
  cursor: pointer;
  padding: 5px 5px 5px 12px;
  border-radius: 999em 999em 999em 999em;
}

.btn-logout {
  background-color: var(--red);
  color: var(--white);
  margin-top: auto;
}
@media (max-width: 1199px) {
  .btn-logout {
    padding: 0.75rem;
    border-radius: 100%;
  }

  .btn-logout img {
    display: inline;
  }
  .disable-text-btn {
    width: 2rem;
    height: 2rem;
  }
  .disable-text-btn span {
    display: none;
  }
}
