:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --twitter-blue: #1d9bf0;
  --deep-blue: #074874;
  --like-pink: #f91894;
  --red: #dc3545;
  --white: #f5f5f5;
  --bg-shadow: #ebebeb;
  --black: #0a090c;
  --gray: #647788;
}
